@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


.navbar-container{
    width: 1440px;
    height: 67px;
    background-color: #000000;
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}

.logo{
    width: 32px;
    height: 32px;
    margin-left: 2em;
}

.nav-txt{
    width: 173px;
    height: 37px;
    color: #ffff;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}